<div>
    <h1>Recupero de Contraseña</h1>
    <form id="recuperoForm">
        <label>Nueva contraseña</label>
        <input name="passwordNueva">
        <br />
        <label>Confirme su contraseña</label>
        <input name="passwordConfirmacion">
        <br />

        <input type="submit">
    </form>
</div>

<script src="/js/recupero.js"></script>